button.button {
  outline: none;
  border: none;
  border-radius: 3px;
  
  padding: 12px 10px 12px 10px;

  cursor: pointer;

  opacity: 0.95;

  transition: opacity 200ms ease;

  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

button.button:hover {
  opacity: 0.8;
}

button.button:active {
  opacity: 1;
}